body {
    margin: 0;
    padding: 0;
    font-size: 18px;
     font-family: 'Mona Sans';
    color: #475569;
    font-weight: 400;
    line-height: 28px;
}

html,
body {
    height: 100%;
}

.main-wrapper {
    position: relative;
    overflow-x: hidden
}



a {
    color: #32463B;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: #32463B;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #242424;
    margin-bottom: 12px;
     font-family: 'Mona Sans';
}

h1,
.h1 {
    font-size: 60px;
    line-height: 115%;
}

h2,
.h2 {
    font-size: 40px;
    line-height: 115%;
}

h3,
.h3 {
    font-size: 30px;
    line-height: 115%;
}

h4,
.h4 {
    font-size: 24px;
    line-height: 120%;
}

h5,
.h5 {
    font-size: 20px;
    line-height: 115%;
}

h6,
.h6 {
    font-size: 18px;
    line-height: 115%;
}


p {
    margin-bottom: 20px;
}


p:last-child {
    margin-bottom: 0 !important;
}


button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.section,
section {
    padding: 70px 0;
}

.container {
    max-width: 1200px
}

.container.wide {
    max-width: 1320px;
}

.container.smalls {
    max-width: 1080px
}
.text_italic{
    font-style: italic
}
.pt-40{
    padding-top: 40px
}

.relative{
    position: relative
}
.z-99{
    position: relative;
    z-index: 9
}
.text_white{
    color: #fff
}
.text_upper{
     text-transform: uppercase
}
.cta-btn{
   display: inline-flex;
    background: #DA0000;
    color: #fff;
    padding: 16px 40px
}
.cta-btn:hover{
    color: #fff;
    background: #ff0101;
}
.fw_700{
    font-weight: 700
}
.fs_16{
    font-size: 16px
}
.fw_500{
    font-weight: 500
}
.col_red{
    color: #DA0000
}
.section-heading{
    margin-bottom: 30px
}
.text_light{
    color: #475569
}
.pb_150{
    padding-bottom: 150px
}
.pt_150{
    padding-top: 150px
}

/*Write CSS From Here*/
.header-area{
    position: absolute;
    z-index: 9;
    width: 100%
}
.header-inn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px
}
.header-menu ul{
    padding: 0;
    margin: 0;
    list-style: none
}
.header-menu ul li{
    display: inline-block;
    margin-right: 32px
}
.header-menu ul li:last-child{
    margin-right: 0
}
.header-menu ul li a{
    color: #BEBEBE;
    font-weight: 500;
    font-size: 18px
}
.header-menu ul li a:hover{
    color: #fff
}
.hero-area {
    height: 650px
}
.hero-area::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(17, 17, 17, 0.9);
    z-index: 1
}
.hero-video-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover
}
.hero-text{
    padding-top: 170px
}
.hero-heading{
    font-weight: 900;
    font-size: 70px
}
.icon-teaser{
    padding: 30px;
    border: 1px solid #E5E7EB;
    display: block;
    background: #fff;
    height: calc(100% - 30px);
    margin-top: 30px;
    font-size: 16px
}
.icon-teaser img {
    margin: 0 auto;
    max-width: 260px;
    height: 70px;
    margin-bottom: 30px
}
.about-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1
}
.text-box.style1 {
    background: #fff;
    padding: 50px
}
.stats-img-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1
}
.text-box.style1 .count{
    color: #DA0000;
    font-weight: 700;
    font-size: 60px
}
.text-box.style1 .text{
    color: #78879B;
    font-weight: 700
}
.content-text.style3 .accordion-item{
    border: 1px solid #E5E7EB;
    padding:24px;
    margin-top: 8px;
    border-radius: 8px
}
.content-text.style3 .title{
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700
}
.content-text.style3 .accordion-body{
    margin-top: 30px
}
.faqs-shape {
    position: absolute;
    top: -100px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 300px;
}
.faqs_accordion .accordion-button{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.faqs_accordion .accordion-button .plus-minus {
    position: absolute;
    top: -7px;
    right: 0px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #DA0000;
}
.faqs_accordion .accordion-button .plus-minus::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 2px;
    height: 12px;
    background: #fff;
    transform: translate(-50%, -50%);
}
.faqs_accordion .accordion-button .plus-minus::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: translate(-50%, -50%);
}
.faqs_accordion  .accordion-button:not(.collapsed) .plus-minus::before {
    opacity: 0;
    background: #fff
}
.footer-cta-shape{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -9;
    object-position: bottom
}

.content-text.footer-cta .heading{
    font-weight: 900;
    font-size: 60px
}
.footer-area{
    background: #0A0F1A;
    padding-top: 70px;
    border-top: 1px solid rgba(69, 73, 81, 0.5)
}
.footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
     border-bottom: 1px solid rgba(69, 73, 81, 0.5);
    padding-bottom: 70px
}
.footer-top .footer-text{
    width: 45%
}
.footer-end .copyright{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5)
}
.footer-end .copyright .link{
    color: rgba(255, 255, 255, 0.5)
}
.footer-end{
    padding: 16px 0
}
.footer-end ul {
    padding: 0;
    margin: 0;
    list-style: none
}
.footer-end ul li{
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 24px
}
.footer-menu-link{
      color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.footer-menu-link:hover{
    color: #fff
}
.timeline-wrapper{
    position: relative
}
.timeline-wrapper::before{
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50% , -50%);
    top: 50%;
    width: 1px;
    height: 90%;
    background: #E5E7EB
}
.timeline-wrapper .item{
    position: relative
}
.timeline-wrapper .item .num{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #0F172A;
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.4s
}
.timeline-wrapper .item:hover .num{
    background: #DA0000
}



/*REsponsive*/
@media(max-width:1400px) {}

@media(max-width:991px) {
    br{
        display: none
    }
     .faqs_accordion{
        padding: 0 30px
    }
     .footer-logo {
        margin-bottom: 0
    }
    .footer-logo img {
    width: 180px;
}
    .footer-top-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px
    }
    .footer-info-text{
        margin-left: 30px
    }
    .footer-info-text .link{
        font-size: 16px
    }
    .footer-top-right{
        text-align: center
    }
    .footer-top-right .cta-btn{
        font-size: 15px;
        padding: 12px 30px
    }
    .footer-end .copyright, .footer-menu-link{
        font-size: 14px
    }
    .hero-video-inner{
        padding: 20px
    }
    .hero-video-box{
        height: 480px
    }
}

@media(max-width:767px) {
   
    br{
        display: none
    }
    .hero-logo img{
        width: 200px;
    }
    .hero-logo{
        margin-bottom: 20px
    }
    .hero-text .h2{
        font-size: 40px
    }
    .hero-video-box{
        margin-top: 30px;
        height: 320px
    }
    .hero-video-inner{
        display: block!important;
        text-align: center;
        
    }
    .hero-video-text{
        width: 100%;
        margin-top: 20px
    }
    .hero-video-action img{
        margin: 0 auto;
        
    }
    .hero-video-text .h3{
        font-size: 30px;
    }
    .hero-video-text{
        font-weight: 300;
        font-size: 16px
    }
    .hero-video-shape{
        height: 65%
    }
    .icon-teaser{
        padding: 20px
    }
    .call-to-action{
        padding: 50px 30px;
        font-size: 16px
    }
    .call-to-action .heading{
        font-size: 32px
    }
    .content-text.style1 .heading{
        font-size: 32px;
    }
    .faqs_accordion{
        margin-top: 30px!important;
        padding: 0 50px
    }
    .accordion-body{
        font-size: 16px
    }
    .faqs_accordion .accordion-button{
        font-size: 18px
    }
   
      .hero-video-action img {
    width: 60px;
    height: 60px;
}
    
    .hero-video-inner{
        padding: 30px 20px
    }
    
    
}

@media(max-width:575px) {
    
    .call-to-action{
        padding: 30px 20px
    }
    .faqs_accordion{
        padding: 0 15px
    }
    
    .footer-top-left{
        display: block;
        text-align: center
    }
    .footer-logo {
        display: inline-block;
        margin-bottom: 30px
    }
    .footer-logo img{
        margin: 0 auto
    }
    
    .footer-info-text{
        text-align: left;
        margin-left: 0
    }
    .footer-end{
        display: block!important;
        text-align: center
    }
    .footer-end ul{
        margin-top: 10px
    }
    .hero-video-box{
        height: 300px
    }
    .hero-video-image{
        height: 100%;
        width: 100%;
        object-fit: cover
    }
}
