body {
    margin: 0;
    padding: 0;
    font-size: 18px;
     font-family: 'Roboto SemiCondensed';
    color: #242424;
    font-weight: 400;
    line-height: 24px;
}

html,
body {
    height: 100%;
}

.main-wrapper {
    position: relative;
    overflow-x: hidden
}



a {
    color: #32463B;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

a:hover {
    text-decoration: none;
    color: #32463B;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #242424;
    margin-bottom: 12px;
     font-family: 'Roboto Condensed';
}

h1,
.h1 {
    font-size: 60px;
    line-height: 115%;
}

h2,
.h2 {
    font-size: 50px;
    line-height: 115%;
}

h3,
.h3 {
    font-size: 40px;
    line-height: 115%;
}

h4,
.h4 {
    font-size: 30px;
    line-height: 120%;
}

h5,
.h5 {
    font-size: 24px;
    line-height: 115%;
}

h6,
.h6 {
    font-size: 20px;
    line-height: 115%;
}


p {
    margin-bottom: 20px;
}


p:last-child {
    margin-bottom: 0 !important;
}


button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.section,
section {
    padding: 70px 0;
}

.container {
    max-width: 1200px
}

.container.wide {
    max-width: 1320px;
}

.container.smalls {
    max-width: 1080px
}
.text_italic{
    font-style: italic
}
.pt-40{
    padding-top: 40px
}

.relative{
    position: relative
}
.text_white{
    color: #fff
}
.cta-btn{
   display: inline-flex;
    background: #AF272A;
    color: #fff;;
    border-radius: 10px;
    padding: 16px 40px
}
.cta-btn:hover{
    color: rgba(255, 255, 255, 0.8)
}
/*Write CSS From Here*/
.header-top{
    background: #AF272A;
    padding: 15px 0
}
.hero-area{
    position:relative;
}
.hero-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    z-index: -1;
        filter: grayscale(1);
}
.hero-logo{
    display: inline-block;
    margin-bottom: 50px
}
.hero-logo img{
    margin: 0 auto;
    width: 265px
}
.hero-text .h2{
    font-weight: 900
}
.hero-video-box{
    position: relative;
    border-radius: 10px;
    margin-top: 50px
}
.hero-video-box::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg,rgba(16,31,55,0.9) 0%, rgba(16,31,55,0) 80%);
}
.hero-video-shape {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
}
.hero-video-inner{
    position: absolute;
    bottom: 0;
    padding: 50px;
    left: 0;
    width: 100%
}
.hero-video-action img{
    width: 80px
}
.hero-video-text{
    width: 50%;
    color: rgba(255, 255, 255, 0.68);
}
.hero-video-text .h3{
    color: #fff
}
.icon-teaser{
    background: #fff;
    height: calc(100% - 30px);
    padding: 30px;
    border: 1px solid rgba(112, 112, 112, 0.45);
    margin-top: 30px;
    font-weight: 300;
    font-size: 16px;
    border-radius: 10px;
    display: block
}
.icon-teaser img{
    margin: 0 auto;
    width: 140px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 30px;
    
}
.icon-teaser .title{
    font-size: 24px
}
.call-to-action{
    position: relative;
    padding: 70px;
    border-radius: 10px;
    overflow: hidden;
    background: #07091D;
    z-index: 1;
    color: rgba(255, 255, 255, 0.7)
}
.call-to-action-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1
}
.faqs_accordion {
    border: none
}

.faqs_accordion .accordion-item {
    border-radius: 0 !important;
    border: none;
    border-bottom: 1px solid rgba(112, 112, 112, 0.26)
}

.faqs_accordion .accordion-button {
    border: none;
    border-radius: 0;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 500
}

.faqs_accordion .accordion-button:focus {
    outline: none;
    box-shadow: none
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23D60305'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.accordion-body {
    padding: 0px 0px 30px 30px;
    font-weight: 300;
    line-height: 30px;
    background: linear-gradient(0deg,rgba(16,31,55,0.05) 0%, rgba(16,31,55,0) 80%);
}

.faq_bg_alt{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0
}

















/*REsponsive*/
@media(max-width:1400px) {}

@media(max-width:991px) {}

@media(max-width:767px) {}

@media(max-width:575px) {}
